<div class="rolemodel-card">
    <a href="{{site.baseurl}}/role-models/{{ include.rolemodel.slug }}">
        <img
                alt="{{ include.rolemodel.name }}"
                src="{{site.baseurl}}/assets/rolemodels/{{ include.rolemodel.slug }}.250.jpg"
                class="rounded-circle avatar"
                height="100"
                width="100"
        />
    </a>
    <div>
        <h4>
            {{ include.rolemodel.name }}
        </h4>
        <p><small>Nominated as a Tech Role Model in the category <em>{{ include.rolemodel.category }}</em>.</small></p>
        <p>
            {{ include.rolemodel.short_bio }}
            <br/>
            <a href="{{site.baseurl}}/role-models/{{ include.rolemodel.slug }}">
                read more about {{ include.rolemodel.name }}
            </a>
        </p>
    </div>
</div>
